<p id="notice"><%= notice %></p>

<p>
  <b>Expense type:</b>
  <%= @admin_expense_type.expense_type %>
</p>


<%= link_to 'Edit', edit_admin_expense_type_path(@admin_expense_type) %> |
<%= link_to 'Back', admin_expense_types_path %>
