<%= render 'spree/admin/shared/accounts_accordion' %>

<div id="acc_content">

<%= render 'form' %>

<%= link_to 'Show', @admin_supplier_type %> |
<%= link_to 'Back', admin_supplier_types_path %>
</div>