<p id="notice"><%= notice %></p>

<p>
  <b>Supplier type:</b>
  <%= @admin_supplier_type.supplier_type %>
</p>


<%= link_to 'Edit', edit_admin_supplier_type_path(@admin_supplier_type) %> |
<%= link_to 'Back', admin_supplier_types_path %>
