<p id="notice"><%= notice %></p>

<p>
  <b>Social media type:</b>
  <%= @admin_social_media_type.social_media_type %>
</p>


<%= link_to 'Edit', edit_admin_social_media_type_path(@admin_social_media_type) %> |
<%= link_to 'Back', admin_social_media_types_path %>
