<%= render 'spree/admin/shared/accounts_accordion' %>

<div id="acc_content">

    <h1>Editing admin_contact_type</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @admin_contact_type %> |
    <%= link_to 'Back', admin_contact_types_path %>
</div>