<p id="notice"><%= notice %></p>

<p>
  <b>Reclaim rate:</b>
  <%= @admin_reclaim_rate.reclaim_rate %>
</p>


<%= link_to 'Edit', edit_admin_reclaim_rate_path(@admin_reclaim_rate) %> |
<%= link_to 'Back', admin_reclaim_rates_path %>
