<p id="notice"><%= notice %></p>

<p>
  <b>Institution name:</b>
  <%= @admin_banking_institution.institution_name %>
</p>


<%= link_to 'Edit', edit_admin_banking_institution_path(@admin_banking_institution) %> |
<%= link_to 'Back', admin_banking_institutions_path %>
