<p id="notice"><%= notice %></p>

<p>
  <b>Banking transaction type:</b>
  <%= @admin_banking_transaction_type.banking_transaction_type_id %>
</p>


<%= link_to 'Edit', edit_admin_banking_transaction_type_path(@admin_banking_transaction_type) %> |
<%= link_to 'Back', admin_banking_transaction_types_path %>
